@import url("./palette.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-color);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;

  border-color: var(--header-footer-color);
  border: 1px solid;
}
button:hover {
  background-color: var(--button-hover-bg-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #ffffff;
    --text-color: #213547;
    --link-hover-color: #747bff;
    --button-bg-color: #f9f9f9;
  }
}

#footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin: auto;
  background-color: var(--header-footer-color);
}

#navbar {
  margin: auto;
  text-align: center;
  width: 100%;
  background-color: var(--header-footer-color);
}

#search-bar {
  border-color: var(--header-footer-color);
  border: 1px solid;
}
